<title>Node.js Getting Started on Heroku</title>
<!-- Include Bootstrap -->
<script src="/javascript/jquery.min.js"></script>
<script src="/javascript/moment.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
<script type="text/javascript" src="/javascript/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />

<!--Style CSS-->
<link rel="stylesheet" href="/stylesheets/main.css">

<!-- Include Bootstrap Datepicker -->
<link rel="stylesheet" href="/stylesheets/bootstrap-datepicker.min.css" />
<script src="/javascript/bootstrap-datepicker.min.js"></script>

<!-- Include Bootstrap DateTimepicker -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />

<!-- Parse -->
<script src="/javascript/parse.min.js"></script>
<script src="/javascript/parse-acess.js"></script>

<!-- Code -->


