<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <% include ../partials/header.ejs %>
</head>
<body>
    <div class="container-fluid">
        <div class="container pt-2">
            <div class="row">
                <div class="col-md-9">
                    <h1>Vehículos disponibles</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9" id="cards">

                </div>
                <div class="col-md-3">
                    <div class="row border">
                        <div class="col-md-12">
                            <h2>Simbología:</h2>
                        </div>
                        <div class="col-md-12">
                            <p><span><img src="/img/icon/seat-belt.png"></span> Número de personas</p>
                            <p><span><img src="/img/icon/suitcase.png"></span> Equipajes grandes<p>
                            <p><span><img src="/img/icon/luggage.png"></span> Equipaje pequeño<p>
                            <p><span><img src="/img/icon/ice-crystal.png"> Aire acondicionado</p>
                            <p><span><img src="/img/icon/car-door.png"></span> Número de puertas</p>
                            <p><span><img src="/img/icon/automatic-transmission.png"></span> Transmisión</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/javascript/getCars.js"></script>
</body>
</html>