<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <% include ../partials/header.ejs %>
</head>
<body>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <h1>Ingresa tus datos</h1>
            </div>
            <div class="row">
                <h3>Datos de ubicación</h3>
            </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="address" placeholder="Dirección">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="city" placeholder="Ciudad">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="state" placeholder="Estado">
                </div>
            <h3>Datos de identidad</h3>
            <div class="form-group">
                <input type="text" class="form-control" id="curp" placeholder="CURP">
            </div>
            <div class="custom-file mb-3 ">
                <input type="file" class="custom-file-input" id="ine" lang="es" onchange="encodeIne(this)">
                <label class="custom-file-label" for="customFileLang">INE(identificación oficial FRONTAL)</label>
            </div>
            <div class="alert alert-success" role="alert" id="ineCargado">
                <strong> Usteded ha subido sus datos exitosamente</strong>
            </div>
            <div class="custom-file mb-3">
                <input type="file" class="custom-file-input" id="ineBack" lang="es" onchange="encodeIneBack(this)">
                <label class="custom-file-label" for="customFileLang">INE(identificación oficial TRASERA)</label>
            </div>
            <div class="alert alert-success" role="alert" id="ineBackCargado">
                <strong> Usteded ha subido sus datos exitosamente</strong>
            </div>
            <div class="custom-file mb-3">
                <input type="file" class="custom-file-input" id="driverLicence" lang="es" onchange="encodeDriverLicence(this)">
                <label class="custom-file-label" for="driverLicence">Licencia de conducir</label>
            </div>
            <div class="alert alert-success" role="alert" id="driverLicenceCargando">
                <strong> Usteded ha subido sus datos exitosamente</strong>
            </div>
            <button type="button" class="btn btn-primary" onclick="createRent()">Rentar</button>
            <!--<h3>Método de pago</h3>
            <h5>Tarjeta de crédito</h5>
            <h5>Tarjeta de débito</h5>
            <h5>Efectivo</h5>-->
        </div>
    </div>
</body>
<script src="/javascript/createRent.js"></script> 
</html>