<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <div class="container-fluid">
    <div class="container pt-3 pb-5">
      <div class="row d-flex align-items-center">
        <div class="col-sm-12 col-md-6">
          logo
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="row d-flex">
            <div class="col-sm-12 col-md-5">
              <div class="row">
                <div class="col p-0 mx-auto">
                  <img src="img/telephone.png" alt="" class="mx-auto d-block img-fluid m-2">
                </div>
                <div class="col-10">
                  <p>¿Dudas?
                    <br>
                    Llámenos al 99999999
                  </p>
                </div> 
              </div>
            </div>
            <div class="col-sm-12 col-md-7">
              <form class="form-inline">
                <input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-1 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row bg-img">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border position-relative py-2">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" href="#">Home<span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" href="#">The fleet our</a>
              <a class="nav-item nav-link" href="#">Services</a>
              <a class="nav-item nav-link" href="#">Contact us</a>
              <a class="nav-item nav-link" href="#">About us</a>
            </div>
          </div>
        </nav>
        <div class="d-flex justify-content-end">
          ss
          <div class="w-50 position-relative p-3" style="box-shadow: 5px 10px 18px #888888; top: 80px">
              <form>
                  <h1>Formulario de renta</h1>
                  <div class="form-group">
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" id="deliveryAddress" placeholder="Dirreción de entrega" aria-label="1234 Main St" aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary" onclick="geolocate()" type="button">
                            <i class="fa fa-map-marker"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" id="returnAddress" placeholder="Dirreción de devolución" aria-label="1234 Main St" aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary" onclick="geolocate()" type="button">
                            <i class="fa fa-map-marker"></i>
                        </button>
                      </div>
                    </div>
                  </div>   
                  <div class="form-group">
                    <select class="form-control" id="categories">
                      <option disabled>Selecciona una categoría</option>
                    </select>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control datetimepicker-input" id="startDate" data-toggle="datetimepicker"  readonly data-target="#startDate"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control datetimepicker-input" id="endDate" data-toggle="datetimepicker"  readonly data-target="#endDate"/>
                        </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="checkbox" value="AT">
                    <label for="">AT</label>
                    <input type="checkbox" class="ml-2" value="MT">
                    <label for="">MT</label>
                  </div>
                </form>
                <button type="button" class="btn btn-primary" onclick="bookingSearch()">Buscar</button>
              </div>
            </div> 
          </div>
        </div>
      </div>

    <div class="container py-5">
      <h1 class="pt-5">Bienvenido a rent car</h1>
      <p class="py-4 px-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
        It has survived not only five centuries,</p>
    </div>
    <div class="row bg-light">
      <div class="container">
        <h1>Galería de autos</h1>
          <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="img/dummy-image.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p>Detalles</p>
                <p>Detalles</p>
                <p>Detalles</p>
                <p>Detalles</p>
                <p>Detalles</p>
                <button type="button" class="btn btn-info">Leer más</button>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="img/dummy-image.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p>Detalles</p>
                <p>Detalles</p>
                <p>Detalles</p>
                <p>Detalles</p>
                <p>Detalles</p>
                <button type="button" class="btn btn-info">Leer más</button>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="img/dummy-image.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p>Detalles</p>
                <p>Detalles</p>
                <p>Detalles</p>
                <p>Detalles</p>
                <p>Detalles</p>
                <button type="button" class="btn btn-info">Leer más</button>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container py-5">
        <h1>Blog</h1>
          <div class="row pt-4">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-4">
                  <img src="img/dummy-image1.jpg" class="rounded img-fluid" alt="...">
                </div>
                <div class="col-md-8">
                  <h6>is simply dummy text of the printing</h6>
                  <h4 class="text-uppercase">dummy text dummy</h4>
                  <hr>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                  Lorem Ipsum has been the industry's</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-4">
                  <img src="img/dummy-image1.jpg" class="rounded img-fluid" alt="...">
                </div>
                <div class="col-md-8">
                  <h6>is simply dummy text of the printing</h6>
                  <h4 class="text-uppercase">dummy text dummy</h4>
                  <hr>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                      Lorem Ipsum has been the industry's</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row bg-dark">
        <div class="container">
          <footer class="page-footer font-small indigo">
            <div class="container">
              <div class="row text-center d-flex justify-content-center pt-5 mb-3">
                <div class="col-md-2 mb-3">
                  <h6 class="text-uppercase font-weight-bold">
                      <a href="#!" class=" text-white">About us</a>
                  </h6>
                </div>
                <div class="col-md-2 mb-3">
                  <h6 class="text-uppercase font-weight-bold">
                    <a href="#!" class=" text-white">Products</a>
                  </h6>
                </div>
                <div class="col-md-2 mb-3">
                  <h6 class="text-uppercase font-weight-bold">
                    <a href="#!" class=" text-white">Awards</a>
                  </h6>
                </div>
                <div class="col-md-2 mb-3">
                  <h6 class="text-uppercase font-weight-bold">
                    <a href="#!" class=" text-white">Help</a>
                  </h6>
                </div>
                <div class="col-md-2 mb-3">
                  <h6 class="text-uppercase font-weight-bold">
                    <a href="#!" class=" text-white">Contact</a>
                  </h6>
                </div>                  
              </div>
              <hr class="rgba-white-light" style="margin: 0 15%;">
              <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
                <div class="col-md-8 col-12 mt-5 text-white">
                  <p style="line-height: 1.7rem">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                  accusantium doloremque laudantium, totam rem
                  aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                  explicabo.
                  Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
                </div>
              </div>
            </div>
            <div class="footer-copyright text-center py-3 text-white">© 2018 Copyright:
              <a href="https://mdbootstrap.com/education/bootstrap/" class=" text-white"> MDBootstrap.com</a>
            </div>
          </footer>
        </div>
      </div>
    <script src="/javascript/location.js"></script>
    <script src="/javascript/getCategories.js"></script>
    <script src="/javascript/datePicker.js"></script>
    <script src="/javascript/bookingSearch.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAL-PeWS-tfb5Vd1rHWmQDqXrFqOSiSwIk&libraries=places&callback=initAutocomplete" async defer></script>
  </body>
<!--<body>
  <div class="container pt-5" id="form-reservation">
      <form>

          <button type="button" class="btn btn-default" aria-label="Left Align">
              <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
            </button>

        <div class="form-group">
          <label for="inputAddress">dirección de entrega</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="deliveryAddress" placeholder="1234 Main St" aria-label="1234 Main St" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" onclick="geolocate()" type="button">
                  <i class="fa fa-map-marker"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="form-group">
            <label for="inputAddress">dirección de entrega</label>
            <div class="input-group mb-3">
              <input type="text" class="form-control" id="returnAddress" placeholder="1234 Main St" aria-label="1234 Main St" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Button</button>
              </div>
            </div>
          </div>

          <div class="form-group">
              <label for="exampleFormControlSelect1">Seleccionar categoría</label>
              <select class="form-control" id="categories">
              </select>
            </div>

            <div id="jaja">

            </div>

          <div class="form-row">
            <div class='form-group col-md-6 date' id='startdate_datepicker'>
                <input type='text' class="form-control" id="startDate" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            
            <div class='form-group col-md-6 date' id='endtdate_datepicker'>
                <input type='text' class="form-control" id="endDate"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
          </div>

          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="AT" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                AT
              </label>
          </div>

          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="MT" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                MT
              </label>
          </div>
        </form>
        <button class="btn btn-primary" onclick="bookingSearch();">Buscar</button>
  </div>

  <div class="container">
    <div class="row" id="cards">
    </div>
  </div>

  <script type="text/javascript">
    var autocompleteD, autocompleteRA, geocoder, cards;
    window.onload = function () {
      getCategory();
    }
    $(function () {
        $("#startdate_datepicker").datepicker()
        $("#endtdate_datepicker").datepicker()
      });
    
      function initAutocomplete() {
      geocoder = new google.maps.Geocoder
      autocompleteDA = new google.maps.places.Autocomplete(
          document.getElementById('deliveryAddress'), {types: ['geocode']})
      
      autocompleteRA = new google.maps.places.Autocomplete(
          document.getElementById('returnAddress'), {types: ['geocode']})
    }
    
    function geolocate() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var geolocation = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };
          geocoder.geocode({'location': geolocation}, function (results, status){
            if(status === 'OK'){
              if(results[0]){
                $('#deliveryAddress').val(results[0].formatted_address)
                //window.alert(results[0].formatted_address)
              } else {
                window.alert('no results found')
              }
            } else {
              window.alert('Geocoder failed due to: ' + status)
            }
          })
          console.log(geolocation)
          /*var circle = new google.maps.Circle(
              {center: geolocation, radius: position.coords.accuracy});
          autocompleteDA.setBounds(circle.getBounds());
          autocompleteRA.setBounds(circle.getBounds());*/
        });
      }
    }
      function getCategory(){
        const query = new Parse.Query('Category');
        query.find().then(function (results) {
          results.forEach(element => {
            var name = element.get('name');
            $('#categories').append($('<option>', {value: element.id, text: name}))
          });
        }).catch(function (error) {
          alert(error)
        })
      }
    
      async function bookingSearch() {
        var category = $('#categories').children("option:selected").val()
        var startDate = $('#startDate').val()
        var endDate = $('#endDate').val()
        var startDate2 = new Date(startDate)
        var endDate2 = new Date(endDate)
        var transmission = $("input[type=checkbox]:checked").val()
        // alert(`categoria: ${category} <br> fecha inicio ${startDate2} <br> fecha final ${endDate2} <br> transmisión ${transmission}`)
    
        const results = await Parse.Cloud.run('bookingSearch', {
          startDate: startDate2,
          endDate: endDate2,
          categoryId: category,
          transmission: transmission
        })
        if (results) {
          console.log(results)
          var input = document.getElementById('deliveryAddress').value
          localStorage.setItem('storageName', input)
          console.log(input)
          window.location.href = '/prueba'
          /*document.getElementById('form-reservation').style.display = 'none'
          console.log(results)
          const output = results.map(({id, brand, model, rate, acriss, photo, transmission, doors}) => {
            return `
            <div class="col-md-6 pt-2">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12 bg-dark text-white">
                      <h5 class="font-weight-bold">${brand} ${model}</h5>
                      <p>${acriss.clave} ${acriss.category.name}</p>
                  </div>
                  <div class="col-md-12" style="padding: 0">
                      <img src="${photo}" alt="..." class="img-thumbnail">
                    </div>
                </div>
              </div>
              <div class="col-md-6 bg-white pt-3">
                  <div class="row">
                    <div class="col-md-12">
                      <p class="text-uppercase font-weight-bold">Características</p>
                      <div class="row">
                          <div class="col-md-6">
                              <p><span><img src="/img/icon/seat-belt.png"></span> X${acriss.pax}</p>
                              <p><span><img src="/img/icon/suitcase.png"></span>X${acriss.largeSuitcase}<p>
                              <p><span><img src="/img/icon/ice-crystal.png"></p>
                            </div>
                            <div class="col-md-6">
                                <p><span><img src="/img/icon/car-door.png"></span> X${doors}</p>
                                <p><span><img src="/img/icon/luggage.png"></span> X${acriss.smallSuitcase}<p>
                                <p><span><img src="/img/icon/automatic-transmission.png"></span> ${transmission}<p>
                            </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <p class="text-uppercase font-weight-bold">Ventajas</p>
                      <div class="row">
                        <div class="col-md-6">
                          <p><span><img src="/img/icon/pet-friendly.png"></span><p>
                        </div>
                        <div class="col-md-6">
                          <p><span><img src="/img/icon/car-wheel.png"></span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-6 bg-warning">
                rating
              </div>
              <div class="col-md-6 text-white text-center text-uppercase" style="background-color: orange;">
                costo / día
                <h3 style="cursor: pointer" class="font-weight-bold" id="${id}" onClick="getCarDataById(this.id)"> $${rate.amount}.00 nxn</h3>
              </div>
            </div>
          </div>`}).join('');
            document.getElementById('cards').innerHTML = output*/
        } else {
          alert('fail') 
        }
      }
    
      async function getCarDataById(id){
        console.log(id)
        /*const results = Parse.Cloud.run('getCarDataById', { carId: id })

        if (results){
          console.log(results)
        } else {
          console.log('fail')
        }*/
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAL-PeWS-tfb5Vd1rHWmQDqXrFqOSiSwIk&libraries=places&callback=initAutocomplete" async defer></script>

</body> -->
</html>