<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <% include ../partials/header.ejs %>
</head>
<body>
    <div class="container-fluid">
        <div class="container">
            <h1>Inicio de sesión</h1>
            <form>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                    </div>
                </div>
            </form>
            <div class="form-group row">
                    <div class="col-sm-10">
                    <button class="btn btn-primary" onclick="login()">Sign in</button>
                    </div>
                </div>
        </div>
    </div>
    <script src="/javascript/login.js"></script> 
</body>
</html>