<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <% include ../partials/header.ejs %>
</head>
<body>
    <div id="ser">

    </div>
    <div class="container-fluid">
        <div class="container py-4">
            <div class="row">
                <div class="col-md-12">
                    <h1>Servicios adicionales del vehículo</h1>
                </div>
            </div>
            <div class="row" id="services">
            </div>
        </div>
        <div class="container py-4">
            <div class="row">
                <div class="col-md-12">
                    <h1>Seguros adicionales del vehículo</h1>
                </div>
            </div>
            <div class="row" id="insurances">
            </div>
        </div>
        <div class="container py-4">
            <div class="row">
                <div class="col-md-12">
                    <h1>Uso en otra región</h1>
                </div>
            </div>
            <div class="d-flex justify-content-start">
                <div>¿Requiere usar este vehículo en otra región?</div>
                <div class="px-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="false" id="checkRegion" onclick="addRegion()">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input class="form-control" type="text" placeholder="Ingrese el nombre de la región" id="region">
                </div>
            </div>
        </div>
        <div class="container py-4">
            <div class="row">
                <div class="col-md-12">
                    <h1>Conductor adicional</h1>
                </div>
            </div>
            <div class="d-flex justify-content-start">
                <div>¿Requiere agregar otros conductores?</div>
                <div class="px-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="false" id="checkDriver" onclick="addMoreDrivers()">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input class="form-control mb-2" type="text" placeholder="Ingrese el nombre del primero conductor" id="driver">
                    <input class="form-control" type="text" placeholder="Ingrese el nombre del segundo conductor" id="driver2">
                </div>
            </div>
            <div class="row py-3">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary" onclick="create()">Continuar</button>
                    <!--onClick="location.href = '/documents'"-->
                </div>
            </div>
        </div>
    </div>
    <script src="/javascript/getServices.js"></script>   
</body>
</html>